*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family:monospace;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.heading{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    height: 40px;
    text-align: center;
    background-color: rgb(96, 96, 125);
    color: rgb(212, 255, 0);
    font-size: 2.5rem;
}

.choices{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    gap: 12%;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 45%;
}
body{
    background-color: rgb(60, 75, 90);
}
.choice:hover{
    background-color:rgb(212, 255, 0);;
    cursor: pointer;
}




.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 2rem;
    gap: 10rem;
}

.score{
    color: rgb(5, 255, 118);
    font-size: 2.5rem;
}

#user-score , #comp-score{
    font-size: 4rem;
    color: white;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color:   rgb(96, 96, 125);
    color:rgb(212, 255, 0);
    font-size: 2.7rem;
    display: inline;
    padding: 0.5rem;
}

.start{
    margin-top: 2rem;
}

#close{
    background-color:   rgb(96, 96, 125);
    color:rgb(212, 255, 0);
    font-size: 2.7rem;
    display: inline;
    padding: 0.5rem;
}

.start:hover{
    cursor: pointer;
}



@media (max-width: 800px){
    img{
        height: 180px;
        width: 180px;
    }
    .choices{
        margin-top: 6%;
        display: flex;
        justify-content: center;
        gap: 0%;
    }
    .scoreboard{
        margin-top: 1rem;
        font-size: 1rem;
        gap: 10rem;
    }
    .msg-container{
        margin-top: 4rem;
    }
    #msg{
        font-size: 2.5rem;
    }
    .choice{
        height: 180px;
        width: 180px;
        border-radius: 45%;
    }

}

@media (max-width: 500px){
    img{
        height: 100px;
        width: 100px;
    }
    .choices{
        margin-top: 6%;
        display: flex;
        justify-content: center;
        gap: 0%;
    }
    .scoreboard{
        margin-top:4rem ;
        font-size: 1rem;
        gap: 7rem;
    }
    .msg-container{
        margin-top: 4rem;
    }
    #msg{
        font-size: 2rem;
    }
    .choice{
        height: 100px;
        width: 100px;
    }
}

 
